<!DOCTYPE html>
<html lang="en" ng-app='vg.testTask' ng-controller='MainCtrl'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple File Diff</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <div class="navbar navbar-static-top" style="background: #e1e1e1;">
    <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Simple File Diff</div>
        </div>
      </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <file-input ng-model='file1'></file-input>
      </div>
      <div class="col-xs-3">
        <file-input ng-model='file2'></file-input>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <!--Gets 2 HTML5 type File objects, tested only for *.txt files-->
        <file-diff file-one='file1' file-two='file2'></file-diff>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="./js/simple-file-diff/file-diff.directive.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/app/controller.js"></script>
  <script src="./js/app/directive.js"></script>
</body>
</html>
